!!!
%html
%head
  %link{"data-turbolinks-track" => "reload", :href => "chat-space.css", :media => "all", :rel => "stylesheet"}/
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
  %script{"data-turbolinks-track" => "reload", :src => "/assets/application-8edc245abda810768ef3fe3c5173b344b19ab2bd6c346c842d24949e917a271d.js"}
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title ChatSpaceProto
  %meta{:content => "authenticity_token", :name => "csrf-param"}/
  %meta{:content => "8iuMgE3YZvhd32Ca8jUkPXku0IuztrVpjXMoFych4OZC/ENyB8i9OXO/U88Iy+RVDXokczLqljO/w3t83OfgPA==", :name => "csrf-token"}/
%body
  .flash-box
  .wrapper
    .chat-side
      .side-header
        %p.side-header__user-name Takashi
        %ul.user-menu
          %li.user-menu__edit-user
            %a{:href => "/groups/new"}
              %i.fa.fa-edit
          %li.user-menu__new-group
            %a{:href => "/users/438/edit"}
              %i.fa.fa-cog
      .groups
        %a{:href => "/groups/1049/messages", :style =>"text-decoration: none"}
          .group
            %p.group__group-name takashi
            %p.group__latest-message aaaa
    .chat-main
      .main-header
        .current-group{"data-group_id" => "1049"}
          %h2.current-group__name inoue
          %ul.member-list
            Member：
            %li.member-list__member takashi.kawabata
        %a{:href => "/groups/1049/edit", :style =>"text-decoration: none"}
          .main-header__edit-btn Edit
      .messages
        .message{"data-message_id" => "2535"}
          .upper-info
            %p.upper-info__user タカシ
            %p.upper-info__date 2019/05/06(Mon) 11:59:17
          %p.message__text アイウエオ
        .message{"data-message_id" => "2536"}
          .upper-info
            %p.upper-info__user かわばた
            %p.upper-info__date 2019/05/06(Mon) 11:59:21
          %p.message__text bbbbb
      .form
        %form#new_message.new-message{"accept-charset" => "UTF-8", :action => "/groups/1049/messages", :enctype => "multipart/form-data", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "Ywkwe6lUGpsvw5GZaT2gPWLp3iZq2iiqWYkdXvoUs8sll1KedsdZIwQ3WoWf4by5ywHSoc91WIw3pKQMxXBURw=="}/
          .input-box
            %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
            %label.image-label{:for => "message_image"}
              %i.fa.fa-image
              %input#message_image.image-label__input{:name => "message[image]", :type => "file"}/
          %input.new-message__submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
