-# .side-header
-#         %p.side-header__user-name Takashi
-#         %ul.user-menu
-#           %li.user-menu__edit-user
-#             %a{:href => "/groups/new"}
-#               %i.fa.fa-edit
-#           %li.user-menu__new-group
-#             %a{:href => "/users/438/edit"}
-#               %i.fa.fa-cog
-#       .groups
-#         %a{:href => "/groups/1049/messages", :style =>"text-decoration: none"}
-#           .group
-#             %p.group__group-name takashi
-#             %p.group__latest-message aaaa